/*{
    background-image: url("https://i.pinimg.com/564x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
}*/
/*.st-emotion-cache-18ni7ap{
    display: none;
}
.viewerBadge_link__qRIco{
    display: none;
}
.st-emotion-cache-1l9asas{
    color: rgb(255, 255, 255);
    background-color: rgb(101, 195, 104);
}*/

.st-emotion-cache-jw45d2{
    display: none;
}
.stHeader{
    display: none;
}
.viewerBadge_link__qRIco{
    display: none;
}

.stHeadingContainer span{
    text-align:center;
}
.stHeadingContainer {
    margin-bottom:3.5%;
}
.stMarkdown{
    text-align:center;
    margin-bottom:2%;
}
.stMarkdown p{
    font-size:1.2rem;
    color: rgb(0 0 0);
}
.stButton{
    text-align: center;
}
.stLinkButton{
    text-align: center;
}
.stDataFrame{
    text-align:center;
}
.st-emotion-cache-ocqkz7.e1f1d6gn4 {
    margin-bottom:1.5rem;
}

.st-emotion-cache-1kyxreq{
    justify-content: center;
    align-items: center;
}
.st-emotion-cache-6awftf{
    visibility: hidden;
}
.st-emotion-cache-vk3wp9{
    display: none;
}
.st-emotion-cache-eqffof a {
    color: rgb(0 0 0);
}
.st-emotion-cache-eqffof{
    text-align: justify;
}

.st-emotion-cache-l1kb65{
    width: 280px;
}
@media screen and (max-width: 600px) {
.st-emotion-cache-12w0qpk {
    min-width: calc(10% - 1.5rem);
}

.stMarkdown p {
    font-size: 0.85rem;
    font-weight: 600;
}
.st-emotion-cache-16idsys p {
    font-size: 0.85rem;
    font-weight: 600;
}
}
{}